body{
	font-family: sans-serif;
	margin: 0;
}

#top{
	display: inline-block;
	clear:both;
	width: 100%;
	margin-top: 15px;
}

#top a {
	padding: 0 7px;
	font-size: .85em;
}

#googleImg{
	display: block;
	width: 300px;
	height: 100px;
	margin: 150px auto 0 auto;
}

.left{
	text-align: left;
	float: left;
}

.right{
	text-align: right;
	float: right ;
}

#buttons{
	text-align: center;
	margin: 20px 0;
}

button{
	font-weight: bold;
	padding: 10px 20px;
	color:#757575;
	background: #f2f2f2;
	border: #f2f2f2;
}

button:hover{
	border: 1px #ddd solid;
	background: #f8f8f8;
	padding: 9px 19px;
}

input{
	display: block;
	height: 44px;
	width: 40%;
	margin: 20px auto;
	padding: 3px 20px 0 20px;
	font-size: 1em;
	border: 1px #ddd solid;
	box-shadow: 0px 2px 6px 2px #ddd;
}



input:focus{
	outline-width: 0;
}

p{
	margin: 0 auto;
	text-align: center;
}

a{
	text-decoration: none;
	color: #555;

}

a:hover{
	color: #555;
	text-decoration: underline;
}

footer{
	position: absolute;
	bottom: 0;
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	height: 40px;
	width: 100%;
}

footer a {
	font-size: .8em;
	position: relative;
	margin-top: 10px;
	padding:5px;
}

footer span+.left{
	margin-left: 40px;
}

footer span+.right{
	margin-right: 40px;
}